#appinion-widget-root
  > .widget-wrap
  > .expand-true
  > .header-wrap
  > .controlls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#appinion-widget-root
  > .widget-wrap
  > .expand-true
  > .header-wrap
  > .controlls
  > .img-collapse {
  margin-right: 12px;
  cursor: pointer;
}

#appinion-widget-root
  > .widget-wrap
  > .expand-true
  > .header-wrap
  .controlls
  > .img-close {
  cursor: pointer;
}
