#live-appinion-root > .widget-wrap > .expand-false {
  padding: 26px;
}

#live-appinion-root > .widget-wrap > .expand-false > .live {
  width: 100%;
  display: flex;
  align-items: center;
}

#live-appinion-root > .widget-wrap > .expand-false > .live > .live-indicator {
  width: 6px;
  height: 6px;
  background-color: #f44336;
  box-shadow: 0px 0px 0px 6px rgba(244, 67, 54, 0.15);
  border-radius: 50px;
  margin-right: 15px;
}

#live-appinion-root > .widget-wrap > .expand-false > .live > .live-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

#live-appinion-root > .widget-wrap > .expand-false > .live > .live-open {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

#live-appinion-root > .widget-wrap > .expand-false > .info {
  font-weight: 700;
  font-size: 14px;
  margin-top: 16px !important;
}

#live-appinion-root > .widget-wrap > .expand-false > .timing {
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px !important;
}
