@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

#live-appinion-root .back-opacity {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99998 !important;
}

#live-appinion-root .widget-wrap {
  font-family: "Montserrat", sans-serif !important;
  background-color: #ffffff !important;
  position: fixed !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: 0.5s;
  z-index: 99999 !important;
}

#live-appinion-root .widget-wrap p {
  margin: 0 !important;
  font-family: "Montserrat", sans-serif !important;
  color: #282828 !important;
}

#live-appinion-root :focus {
  outline: none;
}
