#appinion-widget-root > .widget-wrap > .expand-true > .main > .chat {
  height: 100%;
  position: relative;
  width: 100%;
}

#appinion-widget-root
  > .widget-wrap
  > .expand-true
  > .main
  > .chat
  > .messages-wrap {
  display: flex;
  flex-direction: column;
  justify-content: var(--just);
  width: 100%;
  height: var(--height);
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#appinion-widget-root
  > .widget-wrap
  > .expand-true
  > .main
  > .chat
  > .messages-wrap::-webkit-scrollbar {
  display: none;
}
