#appinion-widget-root > .widget-wrap > .expand-true > .footer {
  display: flex;
  margin-bottom: 42px;
  justify-content: center;
  align-items: center;
}

#appinion-widget-root > .widget-wrap > .expand-true > .footer > img {
  margin-right: 10px;
}

#appinion-widget-root > .widget-wrap > .expand-true > .footer > p {
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
