#live-appinion-root > .widget-wrap > .expand-true > .body > .form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#live-appinion-root > .widget-wrap > .expand-true > .body > .form > .agreement {
  margin-top: 20px;
  display: flex;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .body
  > .form
  > .agreement
  > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #999999 !important;
  margin-left: 17px !important;
}
